
.wrapper {
  position: relative;
  padding: 11px;
  background-color: #F8F8F8;
  max-width: 40%;
  align-self: flex-start;
}

.text {
  margin: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}